
#about {
    text-align: center;
    padding-top: 100px;
    max-width: 1200px;
    margin: 30px auto;
    border-bottom: 2px solid #fff;
    width: fit-content;
}

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.tekst-boks {
    width: 700px;
}

.tekst-boks p {
    margin-top: 10px;
}

.verified-container {
    display: flex;
}

.verified-container img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.verified-container h3 {
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width:700px) {
    
    .verified-container img {
        margin-top: 10px;
    }
}
