
#about {
    text-align: center;
    padding-top: 100px;
    max-width: 1200px;
    margin: 30px auto;
    border-bottom: 2px solid #fff;
    width: fit-content;
}


.tekst-boks {
    width: 900px;
    font-size: 19px;
}

.tekst-boks p {
    margin-top: 10px;
}

@media screen and (max-width:500px) {

    #about {
        text-align: left;
        margin: 15px;
    }

}
