
#about {
    text-align: center;
    padding-top: 100px;
    max-width: 1200px;
    margin: 30px auto;
    border-bottom: 2px solid #fff;
    width: fit-content;
}

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.tekst-boks {
    width: 700px;
    font-size: 19px;
}

.tekst-boks p {
    margin-top: 10px;
}

@media screen and (max-width:500px) {

    #about {
        text-align: left;
        margin: 30px;
    }

}
