
@font-face {
    font-family: japan;
    src: url(/font/Japanese.ttf);
  }

body {
  margin: 0 auto;
  padding: 0;
  background-color: #222222;
  color: #d0d0d0;
  font-family: "Avenir Next", "Avenir", sans-serif;
  background:url(/img/rm373batch2-08.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-position:center center;
  background-attachment: fixed;
}


html {
    scroll-behavior: smooth;
  }

h1, h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #fff;
    padding-top: 100px;
    max-width: 900px;
}

h3 {
  color: #fff;
}

// Back to top btn

.scrollToTopBtn {
  position: fixed;
  border: none;
  bottom: 50px;
  right: 10px;
  z-index: 100;
  display: none;
  cursor: pointer;
  transform: rotate(-90deg);
  background-color: transparent;
}

.scrollToTopBtn img {
  width: 40px;
}

// ---------------- MOBILE breakpoint ----------------
@media screen and (max-width: 500px) {
  body {

    background: #000 !important;
  }
  
}

