#callers {
    text-align: center;
    padding-top: 100px;
    max-width: 1000px;
    margin: 30px auto;
    border-bottom: 2px solid #fff;
    width: fit-content;
}

.four-col {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    justify-content: space-evenly;
    margin-top: 50px;
}

.four-col div{
    min-width: 100px;
    padding-bottom: 50px;
    margin: 10px;
}


@media screen and (max-width: 400px) {

    .four-col div{
        margin: 0;
    }

    .four-col div h3{
        font-size: 20px;
    }
    
    .four-col div p{
        font-size: 15px;
    }
}