#profit {
    text-align: center;
    padding-top: 100px;
    max-width: 1200px;
    margin: 30px auto;
    border-bottom: 2px solid #fff;
    width: fit-content;
}


/* -------------- SLIDESHOW ---------------------- */


#slidecontainer {
	width: 90%;
	overflow: hidden;
	margin: 50px auto;
  padding-top: 50px;
	background: transparent;
}
 
/*photobanner*/
 
.photobanner {
	height: 200px;
	width: 3000px;
}

.img-slide {
  display: inline-block;
  height: 200px;
}


/*keyframe animations*/
.first {
  animation: bannermove 15s linear infinite;
}
 
@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2000px;
 }
 
}

.calls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  padding: 50px 0;
  margin: 0 auto;
}

// ---------------- SLIDER ----------------

.section-slider {
  margin: 0 auto;
  padding: 10px 0;
  width: 90%;
  max-width: 920px;
  background: transparent;
}
.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}
.slider .img-slider {
  flex-shrink: 0;
  width: 300px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: block;
}
.slider::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slider::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
.slider::-webkit-scrollbar-track {
  background: transparent;
}
.section-slider:hover .slider::-webkit-scrollbar-thumb {
  visibility: visible;
}


// ---------------- MOBILE breakpoint ----------------
@media screen and (max-width: 767px) {

  #slidecontainer {
    width: 95%;
    overflow: hidden;
  }

  .img-slide {
    height: 150px;
  }

}

@media screen and (max-width: 500px) {

  #profit {
    margin-left: 30px;
  }

}
